/* body */
body{
    font-family:'Arial','sans-serif';
}

/* title */
.title {
    display: flex;
    justify-content: center;
    text-align: center;
}

.titleitem {
    text-align: center;
    display: inline-block; /* 中身の幅を適切に保つ */
}

.titleitem img {
    display: block; /* 画像が中央に寄るようにする */
    margin: 0 auto; /* 画像を中央に配置 */
    width: auto;
    height: 126px;
}

/* h1 */
h1{
    text-align: center;
    font-family: 'Century Gothic';
}

/* h2 */




/* h3 */
h3 {
    display: flex;
    padding: 1rem 1.3rem;
    align-items: stretch;
}
h3:before {
    display: block;
    margin: -1rem 1rem -1rem -1.3rem;
    min-width: 3px;
    background: linear-gradient(to bottom,deeppink 0,deeppink 20%,yellow 80%,yellow 100%);
    content: "";
    align-self: stretch;
}

/*span class underline*/
.Underline {
    background: linear-gradient(transparent 50%,yellow 0);
}