p.title {
    text-align: center;
}
p.title img {
    width: auto;
    height: 126px;
}
body{
    font-family: 'Gill Sans', 'sans-serif';
}
h2{
    font-family: 'Gill Sans';
}

h3 {
    color: #0000aa;
  }
